<%= form_for(@newspaper) do |f| %>
  <% if @newspaper.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@newspaper.errors.count, "error") %> prohibited this newspaper from being saved:</h2>

      <ul>
      <% @newspaper.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :website %><br>
    <%= f.text_field :website %>
  </div>
  <div class="field">
    <%= f.label :main_rss_feed_url %><br>
    <%= f.text_field :main_rss_feed_url %>
  </div>
  <div class="field">
    <%= f.label :circulation %><br>
    <%= f.number_field :circulation %>
  </div>
  <div class="field">
    <%= f.label :owner %><br>
    <%= f.text_field :owner %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
